$white: #ffffff;
$brand-color: #e84545;
$main-font-color: #6c7279;
$font-color-lighter: #afb0bc;
$features-title: #2d3033;
$social-color: #c6cacc;
$top-footer-back: #3a3e64;
$bottom-footer-back: #313454;
$slide-back: #53354a;
