button,
button:active,
button:focus {
  outline: none;
  box-shadow: none;
}
.btn {
  height: 45px;
  background-color: $brand-color;
  color: $white;
  padding: 0 45px;
  font: 600 13px 'Raleway';
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
    background-color: lighter($brand-color, 10%);
  }
}